.wrapper {
    font-family: 'Verdana', 'Lato', sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-style: normal;
    background: url(../images/bg-journey.jpg) 100% 100% no-repeat;
    background-size: cover;
    height: 100vh;
}

/*--------------------HEADER--------------------*/
.header {
    padding: 20px 85px;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, 0.5);
}
.header-title {
    float: left;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.header-title-main {
    color: #ffffff;
    text-decoration: none;
}
.header-subtitle {
    float: right;
    margin: 0;
    padding-left: 25px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.header-icons {
    float: right;
}
.ic-calendar,
.ic-forum,
.ic-journey {
    margin-right: 25px;
    display: inline-block;
    background: url('../images/sprite.png') no-repeat;
}
.ic-calendar:hover,
.ic-forum:hover,
.ic-journey:hover {
    opacity: 0.5;
    transition: opacity 1s;
}
.ic-calendar {
    width: 19px;
    height: 19px;
    background-position: -10px -146px;
}
.ic-calendar:hover {
    background-position: -10px -175px;
}
.ic-forum {
    width: 28px;
    height: 20px;;
    background-position: -10px -0px;
}
.ic-forum:hover {
    background-position: -10px -30px;
}
.ic-journey {
    width: 20px;
    height: 20px;
    background-position: -10px -86px;
}
.ic-journey:hover {
    background-position: -10px -116px;
}

/*---------------------FORM----------------*/
.form-sign-up {
    position: relative;
    /*margin: 5vh auto;*/
    padding: 25px 60px;
    width: 444px;
    top: 50%;
    transform: translateY(-55%);
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
}
.form-sign-up::before {
    content: "";
    position: absolute;
    left: 0;
    top: 28px;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
}
.form-title {
    float: left;
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 22px;
    color: #434343;
}
.form-log-in {
    float: right;
    line-height: 22px;
    vertical-align: middle;
}
.form-social {
    margin-top: 15px;
    margin-bottom: 25px;
}
.form-social-btn {
    position: relative;
    width: 49%;
    padding: 10px 10px 10px 50px;
    cursor: pointer;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}
.form-social-btn::before {
    content: "";
    position: absolute;
    background-image: url("../images/sprite.png");
}
.form-social-btn::after {
    content: "";
    position: absolute;
    left: 50px;
    width: 1px;
    height: 28px;
    background-color: rgba(0, 0, 0, 0.1);
}
.facebook-btn {
    float: left;
    background-color: #305db8;
}
.facebook-btn::before {
    top: 13px;
    left: 24px;
    background-position: -10px -204px;
    width: 10px;
    height: 20px;
}
.facebook-btn:hover {
    background-color: #264b96;
    transition: background-color 1s cubic-bezier(0.86, 0, 0.07, 1);
}

.google-btn {
    float: right;
    background-color: #df4a32;
}
.google-btn::before {
    top: 17px;
    left: 17px;
    background-position: -10px -60px;
    width: 25px;
    height: 16px;
}
.google-btn:hover {
    background-color: #c3412c;
    transition: background-color 1s cubic-bezier(0.86, 0, 0.07, 1);
}
.form-choice--wrapper {
    text-align: center;
    margin-bottom: 15px;
}
.form-choice--wrapper::after {
    content: "";
    display: block;
    border-bottom: 1px solid #eaeaea;
    position: relative;
    top: -8px;
    z-index: 1;
}
.form-choice {
    position: relative;
    padding: 0 20px;
    color: #848484;
    background-color: #ffffff;
    z-index: 2;
}
.form-information {
    display: block;
    width: 100%;
    margin-bottom: 7px;
    padding: 13px 18px;

    line-height: 21px;
    box-sizing: border-box;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}
.form-information::placeholder {
    color: #bebebe;
}
.form-information:focus {
    outline: none;
    border-radius: 5px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}
.form-label {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 25px;
    cursor: pointer;

    line-height: 21px;
    color: #434343;
}
.form-label input {
    display: none;
}
.form-label > input[type="checkbox"] + .form-label-text::before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    border: 1px solid #eaeaea;
    border-radius: 3px;
}
.form-label > input[type="checkbox"]:checked + .form-label-text::before {
    content: "\2714";

    text-align: center;
    color: #3cb878;
}
.form-label > .form-label-text {
    user-select: none;
}
.form-btn-submit {
    display: block;
    padding: 15px 0;
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #3cb878;
}
.form-btn-submit:hover {
    background-color: #329a65;
    transition: background-color 1s cubic-bezier(0.86, 0, 0.07, 1);
}

/*--------------------HELPER--------------------*/
.container {
    /*width: 444px;*/
    margin: 0 auto;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.green--text {
    position: relative;
    text-decoration: none;
    color: #3cb878;
}
.green--text:hover {
    box-shadow: 0 1px 0 0 rgba(60, 174, 120, 0.5);
    transition: box-shadow 1s ease-out;
}
