.main-table {
    transform: translateY(calc(50vh - 736px/2));
    margin: 0 auto;
    width: 1192px;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;
    color: #484848;

    text-align: center;
    border: 22px solid #3a4965;
    /*border-collapse: collapse;*/
    border-spacing: 0;
}
th, tr, td {
    padding-top: 22px;
    padding-bottom: 22px;
}
th, td {
    box-shadow: inset 2px 0px 2px  rgba(0, 0, 0, 0.1);
}
.main-table__list {
    width: 310px;
}

.main-table__options {
    width: 280px;
}

/*-------------------------------THEAD---------------------------------*/
.header-rows {
    font-weight: bold;
    background-color: #fafafa;
}
.table__plan {
    font-size: 18px;
}
.plan--big-size {
    display: block;
    font-size: 30px;
}
.table__offer-title {
    font-size: 24px;
    color: #ffffff;
}
.table__price {
    position: relative;
    padding: 28px 0 15px 0;
    /*transform: translateY(10%);*/
    text-align: center;
    vertical-align: bottom;
    font-size: 60px;
}
.price--top {
    position: absolute;
    top: 30px;
    font-size: 24px;
}
.price-term {
    font-size: 18px;
    font-weight: normal;
}

/*------------------------------TFOOT---------------------------------*/
.table-footer__inner:first-child {
    background-color: #dddddd;
}
.table-footer__inner:nth-child(even) {
    background-color: #eeeeee;
}
.table-footer__inner:nth-child(3) {
    background-color: #f4f4f4;
}
.table-footer__inner {
    padding-top: 28px;
    padding-bottom: 28px;
}
.footer-btn {
    position: relative;
    width: 193px;
    padding: 15px 0 15px 0;

    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 300ms ease-out, text-shadow 400ms ease-in;
}
.footer-btn:hover {
    text-shadow: 0 0 10px rgba(250, 250, 250, 0.5);
}
.btn--grey::after,
.btn--green::after, 
.btn--rose::after,
.btn--darkblue::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 193px;
    height: 7px;
    border-radius: 0 0 5px 5px;
}
.btn--grey::after {
    background-color: #404040;
}
.btn--green::after {
    background-color: #79b027;
}
.btn--rose::after {
    background-color: #df3a46;
}
.btn--darkblue::after {
    background-color: #16736f;
}
.btn--grey:hover {
    background-color: #333333;
}
.btn--green:hover {
    background-color: #6f9327;
}
.btn--rose:hover {
    background-color: #ba2f39;
}
.btn--darkblue:hover {
    background-color: #185f5c;
}

/*-----------------------------TBODY--------------------------------*/

.content-rows:nth-of-type(odd) {
    background-color: #f2f2f2;
}
.content-rows:nth-of-type(even) {
    background-color: #e3e3e3;
}
.content__title-icon {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;

    font-size: 24px;
    color: #848484;
}






.bg--green,
.btn--green{
    background-color: #89c331;
}
.bg--rose,
.btn--rose {
    background-color: #f04a56;

}
.bg--darkblue,
.btn--darkblue {
    background-color: #20807c;
}
.btn--grey {
    background-color: #484848;
}