body {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    color: #231F20;
}
.wrapper-price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}
.price-current {
    display: none;
}
.price-btn-close {
    display: none;
    margin-left: 10px;
    padding: 0 5px;

    font-weight: bold;
    background-color: #F2F8FD;
    border: none;
    border-radius: 30%;
    cursor: pointer;
}
.price-current.active,
.price-btn-close.active {
    display: inline-block;
}

.wrapper-input {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    min-width: 300px;
    min-height: 50px;

    background-color: #77BD8B;
    color: white;
    border-radius: 5px;
    padding: 10px;
}
.price-input.active {
    color: #117243;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type='number'] {
    -moz-appearance: textfield;
}

.error-text {
    display: none;
    color: red;
}
.error-text.active {
    display: block;
}