body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 26px;
    margin: 0 auto;
    width: 1280px;
    text-align: center;
}
.main-nav {
    font-size: 18px;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 30px;
}
.main-nav__item {
    margin-right: 70px;
    text-decoration: none;
    color: #16a085;
}
.main-nav__item:last-child {
    margin-right: 0;
}
.reviews {
    background-color: #f5f6f7;
}
.reviews-image {
    margin-bottom: 48px;
}
.reviews-title {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-family: Roboto;
    font-size: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.reviews-intro {
    margin: 0;
    margin: 0 110px 30px;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 2px;
}
.intro--second {
    margin-bottom: 40px;
}
.reviews-button {
    margin: 0;
    padding: 0;
    border: none;
    padding: 18px 43px;
    margin-bottom: 90px;

    font-family: Myriad Pro;
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #16a085;
    border-radius: 5px;
}
.reviews-button:hover {
    cursor: pointer;
}
.page-footer {
    margin: 0;
    padding: 45px 100px;
    text-align: right;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 2.5px;
}

