.container {
    display: flex;
    margin: 10px 0 10px 0;
    padding: 30px;
    justify-content: center;
    align-items: center;
}
.btn__start {
    display: inline-block;
    margin-right: 20px;
    width: 100px;
}
.score {
    display: inline-block;
    text-align: center;
    padding: 25px 30px;
    border: 2px solid teal;
    font-size: 20px;
}
.btn__level {
    margin-left: 20px;
    width: 70px;
}
.levels-list {
    margin: 0;
    display: none;
    list-style: none;
    text-align: center;
}
.level-item {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}
.game-result {
    text-align: center;
    font-size: 20px;
}

.table {
    margin: 0 auto;
    border: 3px solid black;
    border-collapse: collapse;
}
.table__row {
}
.table__cell {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}
.table__cell.show__cell {
    background-color: purple;
}
.table__cell.catching__cell {
    background-color: green;
}
.table__cell.missed__cell {
    background-color: red;
}