body {
    font-family: 'Verdana', 'Lato', sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-style: normal;
}
.wrapper {
    margin: 0 auto;
    padding-top: 49px;
    width: 1366px;
    min-height: 768px;
    background: url("../images/background.jpg") no-repeat;

}
/*--------------------HEADER--------------------*/
.header {
    min-height: 46px;

}
.header-logo {
    margin: 0;
    float: left;
    background: url("../images/logo.png") no-repeat;
}
.header-logo:hover {
    cursor: pointer;
    background: url("../images/logo-hover.png") no-repeat;
}
.header-logo__title {
    float: left;
    margin-left: 60px;

    font-size: 29px;
    font-weight: bold;
    color: #ffffff;
    line-height: 25px;
    text-decoration: none;
    text-transform: uppercase;
}
.header-logo:hover .header-logo__title{
    color: #f26522;
}
.title--smaller {
    display: block;
    font-size: 18px;
}
.header-contacts {
    float: right;
    text-align: right;
}
.header-contacts__email,
.header-contacts__phone {
    margin: 0;
    line-height: 26px;
}
 /*-----------------------OFFERS--------------------*/

.offers {
    padding-top: 40px;
}
.offers-list {
    /*position: relative;*/
    float: left;

    margin-right: 61px;
    margin-bottom: 60px;
    color: #ffffff;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;

}
.offers-list:nth-child(3n) {
    margin-right: 0;
}
.offers-list:nth-child(n+3) {
    margin-bottom: 45px;
}
.offers-list:hover .offers-info {
    bottom: 0px;
    transition: 0.5s;
}
.offers-item {
    position: relative;
    width: 314px;
    height: 200px;
    overflow: hidden;
    box-shadow: 0 17px 24px rgba(0, 0, 0, 0.5);
    background-size: cover;
}
.offers-item::after {
    content: "";
    width: 314px;
    height: 200px;
    position: absolute;
    left: 0;
    z-index: 0;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-bottom: none;
    border-image: linear-gradient(to top, transparent 0%, #ffffff 100%);
    border-image-slice: 1;

}
.item-1 {
    background-image: url("../images/offer-1.jpg");
}
.item-2 {
    background-image: url("../images/offer-2.jpg");
}
.item-3 {
    background-image: url("../images/offer-3.jpg");
}
.item-4 {
    background-image: url("../images/offer-4.jpg");
}
.item-5 {
    background-image: url("../images/offer-5.jpg");
}
.item-6 {
    background-image: url("../images/offer-6.jpg");
}
.offers-title {
    margin: 0;
    margin-top: 20px;
}
.offers-list:hover .offers-title {
    color: #f26522;
}

.offers-info {
    position: absolute;
    bottom: -66px;
    left: 0;
    right: 0;
    padding: 30px 15px 10px 20px;
    z-index: 1;
    vertical-align: bottom;
    background-color: #f26522;

}
.offers-price {
    float: left;
    margin: 0;
    font-size: 20px;
    line-height: 22px;
    vertical-align: bottom;
}
.offers-price:before {
    position: absolute;
    top: 12px;
    content: "from";
    font-size: 10px;
    text-transform: lowercase;
}
.offers-details {
    float: right;
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    vertical-align: bottom;
}
.offers-details:after {
    font-family: FontAwesome;
    content: "\f054";
    margin-left: 20px;
    font-size: 12px;
    opacity: 0.5;
}
/*----------------------FOOTER--------------------------*/

.footer {
    margin: 0;
    text-align: center;

}
.footer-copyright {
    margin: 0;
    margin-top: 10px;
    font-size: 12px;
}


/*--------------------HELPER--------------------*/
.container {
    width: 1065px;
    margin: 0 auto;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}