.nav {
  text-align: center;

  &__title {
    text-transform: uppercase;
    color: darkslategrey;
  }

  &__item {
    text-transform: uppercase;
    text-decoration: none;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
