.site-list {
  @include tabs-reset;
  list-style: none;
  @include font-family;

  &__item {
    padding: 8px 13px;

    font-size: 12px;
    background-color: #fafafa;
    border-bottom: 2px solid #f2f2f2;
    cursor: pointer;

    &:hover {
      background-color: #f5f5f5;
    }

    a {
      color: #444444;
      text-decoration: none;
    }
  }
}
