@font-face {
    font-family: 'arimoregular';
    src: url('fonts/arimo-regular-webfont.eot');
    src: url('fonts/arimo-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/arimo-regular-webfont.woff2') format('woff2'),
    url('fonts/arimo-regular-webfont.woff') format('woff'),
    url('fonts/arimo-regular-webfont.ttf') format('truetype'),
    url('fonts/arimo-regular-webfont.svg#arimoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arimobold';
    src: url('fonts/arimo-bold-webfont.eot');
    src: url('fonts/arimo-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/arimo-bold-webfont.woff2') format('woff2'),
    url('fonts/arimo-bold-webfont.woff') format('woff'),
    url('fonts/arimo-bold-webfont.ttf') format('truetype'),
    url('fonts/arimo-bold-webfont.svg#arimobold') format('svg');
    font-weight: normal;
    font-style: normal;
}


.main-table {
    transform: translateY(calc(50vh - 660px/2));
    margin: 0 auto;
    width: 1197px;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #484848;

    text-align: center;
    border: 26px solid #3a4965;
    border-collapse: collapse;
}
tr, td {
    background-color: #e3e3e3;
}
.main-table__list {
    width: 200px;
}

.main-table__options {
    width: 160px;
}

/*-------------------------------THEAD---------------------------------*/
.header-row {
    font-weight: bold;
    box-sizing: border-box;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.content__title:nth-child(odd) {
    background-color: #f2f2f2;
}

.table__plan {
    font-size: 14px;
    background-color: #fafafa;
}
.table__plan,
.content__title {
    width: 158px;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
}
.plan--big-size {
    display: block;
    font-size: 20px;
}
.content__title {
    font-size: 20px;
    text-align: center;
}
.content__title-icon {
    display: inline-block;
    margin: 0 50px 5px 50px;

    font-size: 24px;
    color: #848484;
}

/*-----------------------------TBODY--------------------------------*/
.content-rows {
    box-sizing: border-box;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.content-item {
    padding: 59px 30px;
    box-sizing: border-box;
    width: 150px;
}
.content-item:nth-child(odd) {
    background-color: #f2f2f2;
}
.content__offer-title {
    width: 200px;
    box-sizing: border-box;
    padding: 15px 15px;
    vertical-align: center;

    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
}
.table__price {
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 36px;
    line-height: 36px;
}
.price--top {
    position: absolute;
    top: 7px;
    left: 40px;
    font-size: 18px;
}
.price-term {
    margin-left: 20px;

    font-size: 14px;
    line-height: 36px;
    vertical-align: middle;
}

.content-btn {
    position: relative;
    width: 144px;
    padding: 10px 0 10px 0;

    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    transition: background-color 500ms ease-out;
}
.content-btn:hover {
    animation: button 800ms;
}
.btn--grey::after,
.btn--green::after,
.btn--rose::after,
.btn--darkblue::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 5px;
    border-radius: 0 0 5px 5px;
}
.btn--grey::after {
    background-color: #404040;
}
.btn--green::after {
    background-color: #79b027;
}
.btn--rose::after {
    background-color: #df3a46;
}
.btn--darkblue::after {
    background-color: #16736f;
}
.btn--grey:hover {
    background-color: #333333;
}
.btn--green:hover {
    background-color: #6f9327;
}
.btn--rose:hover {
    background-color: #ba2f39;
}
.btn--darkblue:hover {
    background-color: #185f5c;
}





.bg--green,
.btn--green{
    background-color: #89c331;
}
.bg--rose,
.btn--rose {
    background-color: #f04a56;

}
.bg--darkblue,
.btn--darkblue {
    background-color: #20807c;
}
.btn--grey {
    background-color: #484848;
}

@keyframes button {
    0%, 20%, 60%, 100% {
        transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
        transform: translateY(-10px);
    }

    80% {
        transform: translateY(-5px);
        transform: translateY(-5px);
    }
}