@font-face {
    font-family: 'OpenSansregular';
    src: url('fonts/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansbold';
    src: url('fonts/OpenSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansSemibold';
    src: url('fonts/OpenSans-Semibold.ttf');
    font-weight: bold;
    font-style: normal;
}
html {
    display: block;
    scroll-behavior: smooth;
    height: 100%;
}
.header{
    font-family: "OpenSansSemibold";
    font-weight: bold;
}
body {
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: scroll;

}

/*--------------------HEADER----------------------*/

.header{
    background:
            linear-gradient(to top, rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
            url("../img/header-bg.jpeg") center 147% no-repeat fixed;
    background-size: cover;
    scroll-behavior: smooth;
}

.header-menu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #ffffff;
    background-color: #1d2124;
}
.header__logo {
    margin: 0;

    font-family: "OpenSansbold";
    font-size: 22px;
    font-weight: normal;
}
.header__logo-link {
    color: #ffffff;
    text-decoration: none;
}

.header__logo-img {
    margin-right: 5px;
    padding: 20px;
    vertical-align: middle;

    background-color: #1a1d20;
}

.header__navigation {
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
}
.navigation__item {
    padding: 15px ;

    color: #ffffff;
    text-decoration: none;

    transition: background-color 500ms ease-out;
}
.navigation__item:last-child {
    margin-right: 0;
}
.navigation__item:hover {
    background-color: #292e32;
}


.header__search {
    background-color: #1a1d20;
    cursor: pointer;
}
.header__search-inner{
    width: 71px;
    height: 70px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}
.header__search-inner input#search{
    width: 70px;
    height: 70px;
    background-color: #1a1d20;
    border: none;
    font-size: 14px;
    float: left;
    color: #262626;
    padding-left: 70px;
    color: #fff;
    transition: width .55s ease, transform 0.55s ease;
}
.header__search-inner input#search:focus, .header__search-inner input#search:active{
    outline:none;
    width: 200px;
}

.header__search-inner:hover input#search{
    transform: translateX(-200px);
    width: 200px;
}

.header__search-inner:hover .header__search-icon{
    color: #93a2ad;
}
.header__search-inner .header__search-icon{
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 1;
    color: #4f5b66;
}
.header__inner {
    padding: 100px 0 130px 0;
    text-align: center;
}
.header-title {
    margin-bottom: 40px;
    font-family: 'OpenSansregular';
    font-weight: normal;
    font-size: 27px;
    color: #ffffff;
    text-transform: uppercase;
}
.header__btn {
    display: inline-block;
    width: 170px;
    padding: 18px;
    box-sizing: border-box;

    font-size: 18px;
    color: #ffffff;
    text-decoration: none;

    border-radius: 5px;
    transition: background-color 400ms ease-out,
                color 1s,
                box-shadow 800ms;
}
.btn-subscribe {
    margin-right: 15px;
    background-color: #89ca62;
}
.btn-subscribe:hover {
    color: #89ca62;

    background: rgba(0,0,0,0.6);
    box-shadow: inset 0 0 0 2px #89ca62;
}
.btn-best {
    background-color: #14b9d5;
}
.btn-best:hover {
    color: #14b9d5;

    background: rgba(0,0,0,0.6);
    box-shadow: inset 0 0 0 2px #14b9d5;
}

/*--------------------------------POSTS-----------------------------*/
.main-wrapper {
    background-color: #f2f2f2;
}
.posts {
    padding: 55px 0;
    height: 1030px;
    box-sizing: border-box;

    font-family: 'OpenSansbold';
    text-align: center;
    color: #353a3d;
}
.posts__main-title {
    margin: 0;
    margin-bottom: 50px;

    font-size: 27px;
    color: #18b4cf;
    text-transform: uppercase;
}
.posts__list {
    height: 1030px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.posts__item {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;

    text-decoration: none;
    background-color: #ffffff;
    transition: box-shadow 400ms ease-in-out;
}
.posts__item:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
.posts__title {
    margin: 20px 0;
    font-size: 18px;

    color: #353a3d;
}

/*-------------------------CLIENTS--------------------------*/
.clients-wrapper {
    transform-style: preserve-3d;
    /*background: url("../img/parallax-bg.jpeg") center 27% no-repeat fixed;*/
    /*background-size: cover;*/
    overflow: hidden;
    position: relative;
    perspective: 1px;
    /*transform-style: preserve-3d;*/
    /*overflow-y: scroll;*/
    /*overflow-x: hidden;*/
    /*    z-index: -1;*/
    /*    min-height: 100%;*/
    /*    transform-origin: center;*/
    /*    transition: 1s;*/
    /*    transform: translateZ(-1px) scale(2);*/

    /*    background: url("../img/parallax-bg.jpeg") no-repeat;*/
    /*    background-size: cover;*/

}
.clients-wrapper::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    min-height: 100%;
    transform-origin: center;
    transition: 1s;
    transform: translateZ(-1px) scale(2);

    background: url("../img/parallax-bg.jpeg") no-repeat;
    background-size: cover;
}
.clients {
    transform-style: preserve-3d;
    padding: 190px 0;
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    grid-template:
        "title title title title"
        "logo1 logo2 logo3 logo4";
    grid-column-gap: 75px;
}
.clients__title {
    position: relative;
    margin: 0;
    margin-bottom: 115px;

    font-family: 'OpenSansbold';
    font-size: 32px;
    color: #ffffff;
    text-transform: uppercase;
    grid-area: title;
}
.clients__title::after {
    content: "";
    position: absolute;
    bottom: -55px;
    left: 200px;

    width: 60px;
    height: 3px;
    background-color: #169cb4;
}

/*-------------------------TOP SECTION--------------------------*/
.top-section {
    padding-top: 60px;
    text-align: center;
    min-height: 264px;

}
.top-section__title {
    margin: 0;
    margin-bottom: 50px;

    font-family: 'OpenSansbold';
    font-size: 27px;
    color: #18b4cf;
    text-transform: uppercase;
}
.top-section__inner {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.top-section__img {
    width: 100%;
}

/*-------------------------NEWS--------------------------*/
.news {
    padding-top: 60px;
    padding-bottom: 70px;

    font-size: 14px;
    text-align: center;
    font-family: 'OpenSansSemibold';
    line-height: 18px;
}
.news__main-title {
    margin: 0;
    margin-bottom: 50px;

    font-family: 'OpenSansbold';
    font-size: 27px;
    color: #18b4cf;
    text-transform: uppercase;
}
.news__list {
    display: grid;

    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 35px;
    grid-row-gap: 40px;
}
.news__item {
    text-align: right;
    background-color: #f9f7f7;
}
.news__item:first-child,
.news__item:last-child {
    display: flex;
}
.news__item:first-child .news__text,
.news__item:last-child .news__text {
    text-indent: 0;
}
.news__item-2 .news__title,
.news__item-7 .news__title {
    text-align: center;
    padding: 10px;
}
.news__item:nth-child(3),
.news__item:nth-child(5) {
    margin-right: 28px;
}
.news__item-1 {
    grid-column: 1 / span 3;
}
.news__item-3 {
    grid-column: 1 / span 2;
}
.news__item-4 {
    grid-column: span 2;
}
.news__item-5 {
    grid-column: 1 / span 2;
}
.news__item-6 {
    grid-column: span 2;
}
.news__item-8 {
    grid-column: span 3;
}
.news__item-inner {
    padding-top: 20px;
    padding-left: 5px;
}
.news__title {
    margin: 0;
    padding: 20px 20px 20px 0;

    font-family: 'OpenSansbold';
    font-size: 18px;
    color: #353a3d;
}
.news__text {
    margin: 0;
    padding: 0 20px 20px 20px;

    color: #5b6469;
    text-indent: 30px;
}

/*-------------------------FOOTER--------------------------*/
.footer {
    background-color: #1d2124;

}
.footer__inner {
    padding: 30px 0;
    display: grid;
    grid-template-areas:
        "text logo-img logo";
    grid-template-columns: 1fr 102px;
    justify-content: space-between;
    align-items: center;

    font-family: 'OpenSansregular';
    font-size: 13px;
    color: #ffffff;
}
.footer__copyright {
    margin: 0;
}
.footer__copyright-icon {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
}
.footer__link {
    text-decoration: none;
    color: #ffffff;
}
.footer__link:hover {
    text-decoration: underline;
}






.container {
    margin: 0 auto;
    width: 1171px;
}