.btn {
    position: relative;
    padding: 10px 15px;
    /*margin-right: 20px;*/
    min-width: 100px;
    border: none;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #70B4E6;
}

.btn.invert {
    background-color: #FFF;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
