body {
    font-family: Myriad Pro, sans-serif;
    color: #000000;
}
.container {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    width: 1280px;
}

/*-------------HEADER----------------*/
.main-header {
    min-height: 255px;
    padding-top: 45px;
}
.main-header__logo {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;

    font-size: 80px;
    font-weight: normal;
}
.main-header__logo a {
    text-decoration: none;
    color: #000000;
}
.logo--blue-part {
    color: #4bcaff;
}
.main-header__navigation {
    text-align: center;
    font-size: 24px;

    background-color: #35444f;
}
.main-header__item {
    display: inline-block;
    padding: 22px 40px;

    color: #ffffff;
    text-decoration: none;
}
.main-header__item:hover {
    padding-left: 39px;
    padding-right: 39px;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;

    background-color: #222f3a;
}
/*.header__item--active {*/
/*    border-left: 1px solid #ffffff;*/
/*    border-right: 1px solid #ffffff;*/

/*    background-color: #222f3a;*/
/*}*/

/*-------------MAIN-----------*/
.review {
    min-height: 885px;
    font-size: 18px;
    line-height: 24px;
}
.review-navigation {
    width: 345px;
    margin-right: 45px;

    display: inline-block;
    vertical-align: top;

    border: 1px solid #000000;
}
.review-navigation__item {
    display: block;
    padding: 28px 40px;

    font-size: 27px;
    text-decoration: none;
    color: #485863;
}
.review-navigation__item:hover {
    padding-left: 70px;
    transition: 0.5s;

    color: #000000;
    background-color: #dbdbdb;
}
/*.review__item--active {*/
/*    padding-left: 70px;*/

/*    color: #000000;*/
/*    background-color: #dbdbdb;*/
/*}*/
.review__image--wrapper {
    margin-bottom: 45px;

    display: inline-block;
    box-sizing: border-box;
    width: 880px;
    height: 530px;
    line-height: 530px;
    text-align: center;

    border: 1px solid #000000;
}
.review__image {
    vertical-align: middle;
}
.review__information--wrapper{
    display: inline-block;
    margin-left: 425px;
    width: 825px;
}
/*.review__image--wrapper:hover {*/
/*    !*transform: scale(1.1);*!*/
/*    !*transition: 0.5s;*!*/
/*}*/
.review__image:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.review__information {
    margin: 0;
    margin-bottom: 25px;
}
.review__information:last-child {
    margin-bottom: 0;
}
/*---------------FOOTER-----------------*/
.main-footer {
    min-height: 100px;
    font-size: 28px;
}
.main-footer--wrapper {
    background-color: #b4b7ba;
    text-align: center;
}
.footer-navigation {
    margin: 0;
    margin-right: 200px;
    padding: 0;
    display: inline-block;
}
.footer-navigation__item {
    display: inline-block;
    margin-right: 20px;
    padding: 17px 0;

    color: #0c1927;
    text-decoration: none;
}
.footer-navigation__item:last-child {
    margin-right: 0;
}
.footer-navigation__item:hover {
    position: relative;
    color: #3181a6;
}
.footer-navigation__item:hover::after {
    content: "";
    position: absolute;
    background-color: #3181a6;

    right: 0;
    left: 0;
    bottom: 17px;
    height: 1px;
}

/*.footer__item--active {*/
/*    position: relative;*/
/*    color: #3181a6;*/
/*}*/
/*.footer__item--active::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    background-color: #3181a6;*/

/*    right: 0;*/
/*    left: 0;*/
/*    bottom: 17px;*/
/*    height: 1px;*/
/*}*/
.footer-copyright {
    margin: 0;
    display: inline-block;

    font-size: 24px;
    color: #010101;
}
