.modalOverlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modalWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: burlywood;
    color: #FFFFFF;
    min-height: 200px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}

.modalHeader,
.modalBody,
.modalFooter {
    padding: 30px 30px;
}

.modalHeader {
    min-height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    font-size: 22px;
    border: none;
    background-color: rosybrown;
    border-radius: 10px 10px 0 0;
}

.modalTitle {
    font-weight: bold;
}

.modalBody {
    text-align: center;
    font-size: 15px;
}

.modalFooter {
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalFooter button:last-child {
    margin-left: 10px;
}

.modalClose {
    cursor: pointer;
    font-size: 30px;
}
