.card {
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
  width: calc(100% / 4 - 20px);
  height: 400px;

  text-align: center;
  border-radius: 2px;
  border-style: solid;
  border-width: 3px;
  box-sizing: border-box;

  &__title {
    height: 3vh;
  }

  &__price {
    padding: 5px;
    display: block;
    background-color: burlywood;
    color: white;
    font-weight: bold;
  }

  &__article {
    display: block;
    color: burlywood;
  }

  &__close {
    padding: 0;
    display: inline;
    border: none;
    position: absolute;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
    color: black;
    min-width: 5px;
  }
}

