body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000000;
}
.vanished {
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
}

.star-wars__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    height: 800px;
    perspective: 500px;

    color: gold;
    font-family: 'Oswald', sans-serif;
    font-size: 800%;
    font-weight: 600;
    line-height: 140%;
    text-align: left;
}
.star-wars {
    position: relative;
    transform-origin: center bottom;
    animation: starWars 30s linear infinite;
}
.star-wars__title {
    font-size: 80%;
    text-align: center;
}

 .star-wars__title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
}

@keyframes starWars {
    0% {
        top: 0;
        transform: rotateX(20deg) translateZ(0);
    }
    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2000px);
    }
}







